body {
    min-height: 100vh;
    overflow: scroll;
}
.logo {
    height: 60px;
    width: 60px;
}
.location {
    height: 150px;
    width: 150px;
}
.icon {
    height: 20px;
    width: 22px;
}
.image {
    height: 500px;
    width: 500px;
}