body, html {
    height: 100%;
  width: 100%;
  margin:0%;
  background-color: #e0e0e0;
  font-family:  'Ubuntu', sans-serif;
}
.logo {
    height: 60px;
    width: 60px;
    margin: auto;
}
.icon {
    height: 20px;
    width: 22px;
}

.header {
    background-color:rosybrown;
    position: fixed;
    width:100%;
    top: 0;
    z-index: 80;
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rosybrown;
}
.login {
    right: 0%;
    margin-top: 20px;
    margin-right: 1%;
    text-decoration: none;
    position: absolute;
    color: black;
}
.contact {
    bottom:32%;
  margin-left: 1%;
  text-decoration: none;
  position: absolute;
  text-align: center;
  color: black;
}
.copyright {
    font-size: 10px;
    text-align: center;
}
.social_icon {
    position: absolute;
   right:1%;
   align-items: center;
   bottom:32%;
}