body, html {
  height: 100%;
  width: 100%;
  margin:0 auto;
  background-color: #e0e0e0;
  font-family:  'Ubuntu', sans-serif;
  overflow: auto;
  bottom: 100px;
  display:flex;
}
.logo {
    height: 60px;
    width: 60px;
}
.icon {
    height: 20px;
    width: 22px;
}

.header {
    background-color:rosybrown;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.footer {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rosybrown;
    /* height: auto;
    top: auto;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 1%;*/
}
.footer-div {
    display: flex;
    justify-content: space-between;  
}
.login-btn {
    float: right;
    margin: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: flex-end;
}
.contact-us {
    margin: 12px 0 12px 20px;
}
.contact-us a {
    text-decoration: none;
    color: black;
  }
.copy-right {
    font-size: 10px;
    margin: 15px 0 0 0;  
}
.social_icon {
    float: right;
    margin: 12px 20px 12px 0px;
}