body, html {
  height: 100%;
  width: 100%;
  margin:0 auto;
  background-color: #e0e0e0;
  font-family:  'Ubuntu', sans-serif;
  overflow: auto;
  bottom: 100px;
  display:flex;
}
.logo {
    height: 60px;
    width: 60px;
    margin: 1%;
    margin-top: 0%;
    vertical-align: middle;
}
.icon {
    height: 20px;
    width: 22px;
}

.header {
    background-color:rosybrown;
    position: fixed;
    width:100%;
    height: 10%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rosybrown;
    height: auto;
    top: auto;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 1%;
}
.login {
    top: 15px;
    right: 15px;
    margin: 1%;
    margin-right: 1%;
    vertical-align: middle;
    text-decoration: none;
    position: absolute;
    color: black;
}
.contact {
    bottom:32%;
  margin-left: 1%;
  text-decoration: none;
  position: absolute;
  text-align: center;
  color: black;
}
.copyright {
    font-size: small;
}
.social_icon {
    margin-right: 30px;
}