* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e0e0e0;
  height: 100%;
  width: 100%;
}
.my-header-div {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rosybrown;
}
.my-container {
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  position: relative;
}
.logo-img {
  width: 60px;
  height: 60px;
}
.login-icon {
  display: flex;
  flex-direction: flex-end;
  text-decoration: none;
  float: right;
  margin: 20px;
}

/* content div */
.my-search-bar {
  display: flex;
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
  justify-content: space-around;
  align-items: center;
}
.my-search-bar_text {
  border: transparent;
  border-color: #f1f1f1;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  height: 40px;
  width: 27%;
  outline: none;
}
.location-city img {
  /* padding: 4%; */
  border-radius: 25%;
  height: 150px;
  width: 150px;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.626);
}

.location-city {
  height: 230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.location-city-list {
  position: relative;
}
.city-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
}

.location-city-list:hover .city-name {
  opacity: 1;
}
.location-city-list:hover .black-img {
  filter: brightness(50%);
}
.view-more {
  margin-bottom: 100px;
  text-align: center;
}
.view-more a {
  text-decoration: none;
  color: black;
}

/* footer div */

.footer-div {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rosybrown;
}
.footer-div-list {
  display: flex;
  justify-content: space-between;
}
.copy-right {
  font-size: 10px;
  margin: 15px 0 0 0;
}
.social-logo {
  float: right;
  margin: 12px 20px 12px 0px;
}
.social-logo img {
  height: 20px;
  width: 22px;
}
.contact-us {
  margin: 12px 0 12px 20px;
}
.contact-us a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 859px) {
}
