* {
  margin: 0;
  padding: 0;
}
h3 {
  font-weight: 900;
}
body {
  background-color: #e0e0e0;
  height: 100%;
  width: 100%;
}
.header-div {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rosybrown;
}
.container {
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  position: relative;
}
.logo-img {
  width: 60px;
  height: 60px;
}
.login-icon {
  display: flex;
  flex-direction: flex-end;
  text-decoration: none;
  float: right;
  margin: 20px;
}

/* content div.*/
.content-div {
  margin: 15px;
}
.hotel-details img {
  height: 200px;
  max-width: 250px;
}
.hotel-details-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 50px;
  font-weight: 600;
  margin-left: 10px;
}
/*                  /                      / ////// ////// // / / /*/

.hotel-details-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: first baseline;
  margin-bottom: 5%;
}
.hotel-details-4 {
  display: none;
  flex-wrap: wrap;
  justify-content: first baseline;
  margin-bottom: 5%;
}

.hide-image {
  display: none;
}
.display-image2 {
  display: block;
}

/*                  /                      / ////// ////// // / / /*/
.hotel-details {
  min-width: 40%;
  background-color: lightgray;
  margin: 3% 5% 2% 3%;
  /* padding-bottom: 10px; */
  line-height: 30px;
  display: flex;
}
.hotel-details a {
  text-decoration: none;
  color: black;
}

.hotel-details:hover {
  background-color: rosybrown;
}
.lv-mv {
  display: flex;
  justify-content: center;
}
.lv-mv li {
  list-style-type: none;
}
.lv-mv li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  /* list-style-type: none; */
  margin-right: 80px;
  margin-top: 50px;
}
.hide-image {
  display: none;
}

/* content div start */

/* footer div */

.footer-div {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rosybrown;
}
.footer-div-list {
  display: flex;
  justify-content: space-between;
}
.copy-right {
  font-size: 10px;
  margin: 15px 0 0 0;
}
.social-logo {
  float: right;
  margin: 12px 20px 12px 0px;
}
.social-logo img {
  height: 20px;
  width: 22px;
}
.contact-us {
  /* float: left;
  padding: 5px; */
  margin: 12px 0 12px 20px;
}
.contact-us a {
  text-decoration: none;
  color: black;
}
