.payment_imagediv {
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin: 7% auto;
}
.payment_radisson_bluimage {
    height: 500px;
    width: 500px;
}
.table {
    border: 1px solid black;
    border-radius: 5px;
    margin: 2%;
    padding: 1% 2%;
}
.payment {
    margin-bottom: 100px;
}
.row {
    margin-left: 2%;
}
.pay {
    text-decoration: none;
    color: black;
}